body {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}
#viewport {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.page-wrapper {
  padding: 0px;
  margin: 12px 48px;
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 2 * 48px);
  word-wrap: break-word;
}
